
.skill{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin:1em;
  color:#9635F6;
  font-weight:bold;
  font-size:1.5em;
  background-attachment: fixed;

}

.skills-img{
  width: 35%;
}

.skills-img-2{
  width: 18%;
}

.skill h1 {
  color:#393B44;
  font-size: 1.4em;
}

.container-back{
  display: flex;
  align-items: center;
  justify-content: center;
  margin:0 auto;
}


.contato{
  margin-top: 2em;
  min-height: 250px;
  color:black;
}

.contato h1{
  font-size:2em;
  margin-top: 10px;
}

.text-contato, .skill h3{
  color:#393B44

}

.text-contato h3 {
  margin-top: 20px;
}


h4{
  color:#393B44

}


/*Form*/

form{
  font-size: 16px;
  background: #393B44;
  max-width: 500px;
  height: 400px;
  margin: 0 auto;
  padding: 10px 10px 10px 10px;
  border-radius: 15px;
  
  }
    
  input, textarea{
  width: 474px;
  padding: 10px;
  }
  
  .enviar input {
  background-color: #9635F6;
  height: 40px;
  width: 150px;
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border: 1px solid;
  color: #FFF;
  cursor: pointer;
  }
  
  .enviar input:hover{
  background: black;
  }
  
  textarea {
  width: 474px;
  height: 120px;
  line-height: 20px;
  }

.icon{
  width: 5%;
margin: 1em;}


@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .contato{
    margin: 0 auto;
  }

 

  .sidenav a {
    font-size: 18px;
  }
}

@media screen and (max-width:768px){
  form{
   display: none;
  }

  input, textarea{
    width: 80%;
  }

  .skill{
    margin: 0;
  }

  .skill h1 {
    max-width: 90%;
    text-align: center;
    font-size: 1.2em;
  }
  .skill h3 {
    text-align: center;
    font-size: 1em;
  }

  .icon-contato p {
    max-width:95%;
    text-align: center;
  }

  .contact-phrase{
    padding: 8px;
    color:#393B44
  }

  h4{
    color:#393B44

  }
}